<h1>Entrar</h1>

<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label "Email" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label "Senha" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Entrar", class: "btn btn-primary" %>
  </div>
<% end %>
