<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-lg-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Página Inicial", root_path, class: "nav-link" + (current_page?(root_path) ? ' active' : '') %>
        </li>
        <li class="nav-item">
          <%= link_to "Meus Livros", books_path, class: "nav-link" + (current_page?(books_path) ? ' active' : '') %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= Current.user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= button_to "Sair", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item mx-2 my-1 my-lg-0">
            <%= link_to "Entrar", sign_in_path, class: "btn btn-outline-light" %>
          </li>
          <li class="nav-item mx-2 my-1 my-lg-0">
            <%= link_to "Cadastre-se", sign_up_path, class: "btn btn-outline-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
