<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Página Inicial", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Meus Livros", books_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= Current.user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= button_to "Sair", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item mx-2">
            <%= link_to "Entrar", sign_in_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Cadastre-se", sign_up_path, class: "btn btn-outline-secondary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>