<h1>Meus Livros</h1>

<%= link_to 'Adicionar Livro', new_book_path, class: 'btn btn-primary my-2' %>
<ul id="book-list" class="list-group">
  <% @books.each do |book| %>
    <li class="list-group-item d-flex align-items-center justify-content-between bg-off-white">
      <div class="d-flex gap-2">
        <% if book.image %>
          <%= image_tag book.image, alt: book.title, class: "img-thumbnail w-4_5 min-h-6" %>
        <% end %>
        <div>
          <%= link_to book, class: "text-decoration-none text-black underline-hover" do %>
            <h5><%= book.title %></h5>
          <% end %>
          <span><%= book.author %></span>,
          <span><%= book.publication_year %></span>
        </div>
      </div>
      <div class="d-flex flex-column gap-1 d-md-inline">
        <%= link_to 'Editar', edit_book_path(book), class: "btn btn-primary" %>
        <%= link_to 'Excluir', book, method: :delete, class: "btn btn-danger",
                    data: { confirm: 'Você tem certeza que deseja excluir o livro?' } %>
      </div>
    </li>
  <% end %>
</ul>


<% if @books.length > 0 %>
  <nav class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item<%= (Integer(@info[:page]) == 1) ? ' disabled' : '' %>">
        <%= link_to "Anterior", books_path(page: Integer(@info[:page]) - 1), class: "page-link" %>
      </li>
      <% (@info[:initial_pagination]..[@info[:total_pages], 6].min + @info[:initial_pagination] - 1).each do |i| %>
        <li class="page-item<%= +(Integer(@info[:page]) == i ? ' active' : '') %>">
          <%= link_to i, books_path(page: i), class: "page-link" %>
        </li>
      <% end %>
      <li class="page-item<%= Integer(@info[:page]) == Integer(@info[:total_pages]) ? ' disabled' : '' %>">
        <%= link_to "Próxima", books_path(page: Integer(@info[:page]) + 1), class: "page-link" %>
      </li>
    </ul>
  </nav>
<% end %>
