<h1 class="text-center mt-2">Novo Livro</h1>
<div id="new-book-page" class="d-flex flex-column align-items-center mx-auto w-50">
  <%= form_with model: @book, class: "w-100", url: books_path do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.messages.each do |attr, message| %>
          <div><%= message.first %></div>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3 position-relative" id="lll">
      <%= form.label "Título" %>
      <%= form.text_field :title, class: "dropdown-toggle form-control", href: "#", id:"book_title", role:"button", "data-bs-toggle":"dropdown", "aria-expanded":"false", autocomplete: "off" %>
      <ul id="result-list" class="dropdown-menu " aria-labelledby="title">
      </ul>
    </div>

    <div class="mb-3">
      <%= form.label "Autor" %>
      <%= form.text_field :author, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label "Ano de publicação" %>
      <%= form.text_field :publication_year, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Cadastrar livro", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Back', books_path %>
</div>