<div class="d-flex justify-content-center">
  <div class="mt-5 bg-off-white border border-2 rounded-3 max-w-50 p-3">
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Publication year:</strong>
      <%= @book.publication_year %>
    </p>

    <% if Current.user && Current.user.id == @book.user_id %>
      <div class="d-flex justify-content-evenly">
        <%= link_to 'Excluir', @book, method: :delete, class: "btn btn-danger",
                    data: { confirm: 'Você tem certeza que deseja excluir o livro?' } %>
        <%= link_to 'Editar', edit_book_path(@book), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>